.svg-container { width: 100%; }

.w3-darkblue, .w3-darkblue:hover {
    color: #fff!important;
    background-color:rgb(63, 75, 88)!important;
}

#bubble-chart svg g g.axis.x { display: none; }
#bubble-chart svg g g.axis.y { display: none; }
#bubble-chart text { font-size: 1.17em; }

#row-chart > svg > g > g.row > text { fill: rgb(82, 80, 80); }

#sun-burst g.pie-slice.selected path { stroke-width: 0; }

#data-table td { font-size: 0.8em; }
#data-table label,
#data-table th,
#mySidebar .sel { font-size: 0.85em; }

#sel-departments option,
#sel-years option,
#sel-fund-types option,
#sel-branch-programs option { font-size: 0.8em; }

#DataTables_Table_0_wrapper { margin-top: 0.5em; }
#bubble-chart text { 
    font-size: 0.965em; 
    transform: rotate(-17deg);
}

#bubble-chart text.stats { transform: rotate(0deg); }
#row-chart text.row { font-size: 0.75em; }